.browser_container{

    .browser{
        @include container_size_and_center;
        background-color: white;
        padding: 5rem 0;

        .intro{
            text-align: center;
            h2{
                font-family: $font_title;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.2rem;
                max-width: 50%;
                margin: auto;
            }
        }
        
        .category_card{
            display: flex;
            justify-content: space-between;
            margin: 5rem 0;

            .card{
                text-align: center;
                width: calc((100% /4) - 1rem);
                
                img{
                    width: 100%;
                    object-fit: cover;
                }
                span{
                    display: block;
                    padding-top: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
        
        .type_food{
            display: flex;
            justify-content: space-between;
            .box{
                width: calc((100% /3) - 1rem);
                background-color: $bg_for_pattern;
                background-image: url(/dist/img/bg-transparent-3.png);
                background-repeat: repeat-x;
                display: flex;
                flex-direction: column;
                
                h2{
                    color: white;
                    margin: 3rem auto 2rem auto;
                    font-family: $font_title;
                    font-size: 2rem;
                    text-transform: capitalize;
                }

                span{
                    color: white;
                    margin:0 auto;
                    color: $primary_color_button;
                    font-size: 1.3rem;
                    font-weight: 500;
                    text-transform: capitalize;

                }

                img{
                    width: 70%;
                    margin:3rem auto;
                }

                a{
                    @include button_style;
                    color: white;
                    margin:0 auto;
                    background-color: $primary_color_button;
                    margin-bottom: 2rem;
                }

            }
        }
        
        .new_arrivals{
            height: 600px;
            background-image:linear-gradient(180deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.2) 60%), url(/dist/img/banner-3-2x-scaled.jpg);
            background-size: 100% 100%;
            margin: 7rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            span{
                color: white;
                text-transform: uppercase;
                font-weight: 500;
            }
            h2{
                font-family: $font_title;
                font-size: 4rem;
                font-weight: 400;
                color: white;
                margin: 2.5rem 0;
            }
            a{
                @include button_style;
                color: black;
                background-color: white;
            }
        }

        .best_sellers{
            .top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 4rem;

                span{
                    color: $primary_color_button;
                    font-size: 1.2rem;
                }
                h2{
                font-family: $font_title;
                font-size: 3rem;
                padding-top: 1.5rem;
                }

                a{
                    @include button_style;
                    color: white;
                    background-color: $primary_color_button;
                }

            }

            .bottom{
                display: flex;
                justify-content: space-between;
                .card{
                    width: calc((100% /4) - 1rem);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 100%;
                    }
                    span:nth-of-type(1){
                        margin: 1rem 0;
                        font-size: 1.3rem;
                    }
                    span:nth-of-type(2){
                        color: $primary_color_button;
                        font-weight: 500;
                    }
                }

            }
        }
    }
}