.browser_container{
    background-color: limegreen;

    .browser{
        width: $width_principal_container;
        margin: auto;
        background-color: white;
        padding: 5rem 0;

        .intro{
            text-align: center;
            h2{
                font-family: 'Trocchi', serif;
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.2rem;
                max-width: 50%;
                margin: auto;
            }
        }
        
        .product_card{
            display: flex;
            justify-content: space-between;
            margin: 5rem 0;

            .card{
                text-align: center;
                width: calc((100% /4) - 1rem);
                
                img{
                    width: 100%;
                    object-fit: cover;
                }
                span{
                    display: block;
                    padding-top: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
        
        
        
    }
}