.jumbotron{
    position: relative;
    .top{
        @include bg_with_pattern;

        .container{
            @include container_size_and_center;
            display: flex;
            justify-content: space-around;
            padding: 2rem 0;

            span{
                color: $primary_color_text;
            }
        }
    }

    .middle{
        width: 100%;
        height: 900px;
        background-image:linear-gradient(180deg, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.2) 60%),url(/dist/img/banner-5-2x-scaled.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        .container{
            @include container_size_and_center;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            

            span{
                text-transform: uppercase;
                color: $primary_color_text;
                font-weight: bold;
            }

            h1{
                width: 50%;
                color: $primary_color_text;
                font-size: 4rem;
                font-weight: 400;
                margin: 3rem 0;
                font-family: $font_title;
            }

            a{
                @include button_style;
                @include light_button;
            }
            a:hover{
                @include dark_button;
            }

        }
    }

    .bottom{
        @include bg_with_pattern;
        
        .container{
            @include container_size_and_center;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                margin-top: 2rem;
            }

            span{
                color: $primary_color_text;
                font-size: 1.3rem;
                margin: 0 1rem;
            }

            a{
                color: $primary_color_text;
                font-size: 1.3rem;

            }
        }
    }


    .small_box{
        height: 80px;
        width: 80px;
        border-radius: 0.5rem;
        background-color: white;
        position: fixed;
        top: 150px;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.192);

        i{
            font-size: 2.5rem;
        }

        span{
            font-size: 2rem;
            font-weight: bold;
            color: limegreen;
        }
    }
    .small_box:last-child{
        top: 240px;
    }

    .small_box:last-child span::before{
        content: '$';
        font-size: 1.1rem;
        vertical-align: super; 
    }
}