@mixin container_size_and_center {
    width: $width_principal_container;
    margin: auto;
}

@mixin bg_with_pattern {
    width: 100%;
    background-color: $bg_for_pattern;
    background-image: url(/dist/img/bg-transparent-3.png);
}

@mixin button_style {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
}

@mixin light_button {
    background-color: white;
    color: black;
}
@mixin dark_button {
    background-color: $primary_color_button;
    color: white;
}

@mixin input_text_style {
    height: 50px;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: $input_bg_color;
    padding-left: 1rem
}

@mixin box_for_hover {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin content_of_hover_box {
    span{
        width: 80px;
        height: 80px;

        i{
            font-size: 80px;
            color: $primary_color_text;
        }
    }

    a{
        text-decoration: none;
        color: $primary_color_text;
        padding: 2rem;
        font-weight: 500;
    }
}