.navbar{

    .top{
        @include container_size_and_center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        img{
            height: 50px;
        }
        
        span{
            color: $secondary_color_text;
            strong{
                font-size: 1.2rem;
            }
        }
        
        i{
            margin-left: 0.5rem;
            color: $secondary_color_text;
            font-size: 1.5rem;
        }

        .zoom_icon{
            transform: scale(1.7);
            color: $bg_light;
        }

        .input_box{
            position: relative;
            i{
                position: absolute;
                color: $secondary_color_text;
                line-height: 50px;
                vertical-align: middle;
                padding-left: 5px;
            }
            input{
                width: 400px;
                @include input_text_style;
                padding-left: 45px;
            }
            input[type="search"]::-webkit-search-cancel-button{
                font-size: 1.5rem;
                padding-right: 1rem;
            }
        }

        .cart_user{
            .cart{
                display: none;
                position: absolute;
                width: 300px;
                background-color: $bg_cart_user;
                z-index: 10;
                right: 220px;
                padding: 0.5rem;
                border-radius: 5px;

                .cart_line{
                    height: 80px;
                    display: flex;
                    margin-bottom: 5px;
                    img{
                        height: 70px;
                        margin: 5px 5px;
                        border-radius: 50%;
                    }
                    &>div{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;

                        span{
                            color: $primary_color_button;
                            font-size: 1.1rem;
                            margin-right: 1rem;
                            padding: 0.3rem 0;
                        }
                    }
                }

                .cart_line:hover{
                    background-color: $bg_light;
                    span{
                        color: $primary_color_text;
                    }
                }

                .total_line{
                    height: 40px;
                    width: 100%;
                    background-color: seagreen;
                    border-radius: 5px;
                    span{
                        text-align: right;
                        line-height: 40px;
                        vertical-align: middle;
                        padding: 0 0.5rem;
                        font-weight: bold;
                        color: white;

                    }
                }

                .total_line:hover{
                    background-color: $bg_light;
                }
                
            }

            .fa-shopping-bag:hover ~ .cart{
                display: block;
            }
            .cart:hover{
                display: block;

            }

            .user{
                visibility: hidden;
                position: absolute;
                width: 300px;
                background-color: $bg_cart_user;
                z-index: 10;
                right: 190px;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                border-radius: 5px;

                &>input{
                    @include input_text_style;
                    width: 100%;
                    margin-bottom: 0.5rem;
                }

                &>div{
                    margin-bottom: 1rem;
                    span{
                        font-size: 0.8rem;
                    }
                }

                a{
                    @include button_style;
                    @include dark_button;
                    align-self: flex-end;

                }

                &>span{
                    display: block;
                    margin-top: 1rem;
                    align-self: flex-end;
                    font-size: 0.9rem;
                    color: $primary_color_button;
                    padding-right: 0.5rem;

                }
            }

            .fa-user:hover ~ .user{
                visibility: visible;
            }
            .user:hover{
                visibility: visible;

            }
        }
    }

    hr{
        opacity: 0.3;
    }

    .bottom{
        @include container_size_and_center;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &>a{
            text-decoration: none;
            color: $color_voice_navbar;
            font-weight: bold;
            margin: 0 1rem;
        }

        &>a:hover{
            color: black;
            i{
                color: $bg_light;
            }
        }

        &>a:nth-of-type(1):hover ~ .dropdown_home{
            visibility: visible;
        }
        .dropdown_home:hover{
            visibility: visible;
            background-color: $primary_color_button;
            a{
            color: white;

            }

        }

        .dropdown_home{
            visibility: hidden;
            @include dropdown_style;
            left: 482px;
            padding: 1rem;
            bottom: -35px;
            a{
                text-decoration: none;
                color: $color_voice_dropdown;
            }
        }

        .dropdown_shop{
            visibility: hidden;
            @include dropdown_style;
            left: 578px;
            bottom: -192px;

            a{
                display: block;
                text-decoration: none;
                color: $color_voice_dropdown;
                padding: 1rem ;
                border-bottom: 1px solid black;
            }

            a:hover{
                background-color: $primary_color_button;
                color: white;
            }

        }

        &>a:nth-of-type(2):hover ~ .dropdown_shop{
            visibility: visible;
        }
        .dropdown_shop:hover{
            visibility: visible;
        }

        .dropdown_brand{
            visibility: hidden;
            @include dropdown_style;
            width: 99vw;
            display: flex;
            top: 3px;
            .brand_slot{
                width: calc(100%/3);
                height: 300px;
                background-repeat: no-repeat;
                background-position: right;
                background-position-x: 160%;
                background-position-y: -23%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 2rem;

                h2{
                    font-size: 2.5rem;
                    padding-bottom: 1rem;
                }
            }

            .brand_slot:nth-of-type(1){
                background-color: #E5EFE5;
                background-image: url(../../dist/img/food-transparent-16-400x420.png);
            }
            .brand_slot:nth-of-type(2){
                background-color: #FBF5F3;
                background-image: url(../../dist/img/food-transparent-18-400x420.png);
            }
            .brand_slot:nth-of-type(3){
                background-color: #E4F0F1;
                background-image: url(../../dist/img/food-transparent-17-400x420.png);
            }
        }

        &>a:nth-of-type(6):hover ~ .dropdown_brand{
            visibility: visible;
        }
        .dropdown_brand:hover{
            visibility: visible;
        }


    }
}