.navbar{

    .top{
        @include container_size_and_center;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        img{
            height: 50px;
        }
        input{
            width: 400px;
            @include input_text_style;
        }
        span{
            color: $secondary_color_text;
            font-size: 1.2rem;
        }
        
        i{
            margin-left: 0.5rem;
            color: $secondary_color_text;
            font-size: 1.5rem;
        }
    }

    hr{
        opacity: 0.3;
    }

    .bottom{
        @include container_size_and_center;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            color: $color_voice_navbar;
            font-weight: bold;
            margin: 0 1rem;
        }

    }
}