.new_products{
    padding: 5rem 0;
    .container{
        @include container_size_and_center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-family: $font_title;
            font-size: 2rem;
            margin-bottom: 2rem;
            color: $secondary_color_text;
        }
        &>span{
            font-size: 1.2rem;
            font-weight: 500;
            color: $primary_color_button;
        }

        .products_container{
            margin-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card{
                width: calc((100% / 3) - 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;
                position: relative;

                .img_container{
                    position: relative;

                    .prova{
                        @include box_for_hover;
                        top: 0;
                        z-index: 1;

                        @include content_of_hover_box;

                        &>div{
                            span{
                                color:$primary_color_text;
                                text-transform: uppercase;
                                font-size: 1.5rem;
                                padding: 0.5rem;

                                i{
                                    font-size: 1.5rem;
                                }
                            }

                            span:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }

                
                

                img{
                    width: 100%;
                }

                p{
                    margin: 1rem 0;
                    font-size: 1.3rem;
                    color: $secondary_color_text;
                }

                .price{
                    color: $primary_color_button;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                .sale{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    background-color: $bg_light;
                    padding: 1rem;
                    border-radius: 100%;
                    color: white;
                    font-weight: bold;
                    font-size: 1.2rem;

                }
            }

            .card:hover .prova{
                visibility: visible;
            }

            

        }
    }

    .more_info{
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.493);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 25;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .specific_info{
            width: 60%;
            height: 50%;
            background-color: white;
            display: flex;
            position: relative;

            &>i{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 1.5rem;
            }

            img{
                height: 100%;
            }
            
            &>div{
                padding: 2rem;
                color: $secondary_color_text;
                overflow-y: auto;
                &>span{
                    font-size: 2rem;
                }
                &>div{
                    margin: 1rem 0;
                    font-size: 1.3rem;
                    color: $primary_color_button;
                    span:nth-of-type(1){
                        margin-right: 1rem;
                    }
                }

                p{
                    font-size: 1.3rem;
                    margin-bottom: 3rem
                }

                a{
                    @include button_style;
                    @include dark_button;
                    
                }


            }
        }
    }
}