.new_products{
    padding: 5rem 0;
    .container{
        @include container_size_and_center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-family: $font_title;
            font-size: 2rem;
            margin-bottom: 2rem;
            color: $secondary_color_text;
        }
        &>span{
            font-size: 1.2rem;
            font-weight: 500;
            color: $primary_color_button;
        }

        .products_container{
            margin-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card{
                width: calc((100% / 3) - 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 2rem 0;
                position: relative;

                img{
                    width: 100%;
                }

                p{
                    margin: 1rem 0;
                    font-size: 1.3rem;
                    color: $secondary_color_text;
                }

                .price{
                    color: $primary_color_button;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                .sale{
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    background-color: green;
                    padding: 1rem;
                    border-radius: 100%;
                    color: white;
                    font-weight: bold;
                    font-size: 1.2rem;

                }
            }

        }
    }
}