footer{
    background-color: $bg_for_pattern;
    .conection_footer{
        @include container_size_and_center;
        color: white;
        

        .top{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            .box{
                width: calc((100% / 4 ) - 4rem);
                margin: 7rem 0;

                img{
                    width: 80%;
                    padding-bottom: 2rem;
                }
                span{
                    display: block;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: $primary_color_text;
                }
                h2{
                    font-weight: 500;
                    font-size: 1.7rem;
                    color: $primary_color_text;
                }

                ul{
                    list-style: none;
                    margin-top: 2rem;

                    li{
                        padding: 1rem 0;
                        font-size: 1.2rem;

                        a{
                            text-decoration: none;
                            color: $primary_color_text;
                        }
                    }
                }
                

            }

            .box:last-of-type{
                background-color: #264229;
                background-image: url(/dist/img/bg-transparent-3.png);
                background-repeat: repeat-x;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 2rem;
                border-radius: 0.5rem;

                input{
                @include input_text_style;
                width: 100%;
                margin: 2rem 0;
                }


                a{
                    @include button_style;
                    @include dark_button;
                    width: 100%;
                    text-align: center;
                }

            }
            
        }

        .bottom{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
            ul{
                list-style: none;
                padding-top: 3rem;
                
                li{
                    display: inline-block;
                    padding: 0 1rem;
                    a{
                        color: $primary_color_text;
                        text-decoration: none;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .copyright{
        padding: 1rem;
        background-color: black;
        color: $primary_color_text;
        text-align: center;
    }
}