/*Common variables*/

$width_principal_container: 80%;
$font_title:  'Trocchi', serif;
$font_base:'Work Sans', sans-serif;

/*Navbar*/
$color_voice_navbar:#978f88;

/*Jumbotron*/
$bg_for_pattern: #1e3120;
$primary_color_button: #5ba366;