
/*Font*/
$font_title:  'Trocchi', serif;
$font_base:'Work Sans', sans-serif;

/*Size*/
$width_principal_container: 80%;

/*Background color*/
$bg_for_pattern: #1e3120;

/*Button color*/
$primary_color_button: #3d6f42;

/*Text color*/
$primary_color_text: white;
$secondary_color_text: black;
$color_voice_navbar:#978f88;
$details_color: rgb(105, 102, 102);

/*Input box*/
$input_bg_color:#f8f5f2;




